main/src/main/resources/wsdls/client/xbus/Services/SelfCareService.wsdl

<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by xbus (xbus) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xbus.xius.com/services/selfcare/services" xmlns:comm="http://xbus.xius.com/messages/common" xmlns:err="http://xbus.xius.com/messages/common/errordetails" xmlns:msgs="http://xbus.xius.com/messages/selfcare/services" targetNamespace="http://xbus.xius.com/services/selfcare/services">
	<wsdl:types>
		<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns:msgs="http://xbus.xius.com/messages/selfcare/services" targetNamespace="http://xbus.xius.com/services/selfcare/services" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="http://xbus.xius.com/messages/selfcare/services" schemaLocation="SelfCareService.xsd"/>
			<xs:import namespace="http://xbus.xius.com/messages/common/errordetails" schemaLocation="../../common/ErrorDetails.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="faultData">
		<wsdl:part name="faultData" element="err:errorDetailItem"/>
	</wsdl:message>
	<wsdl:message name="loginAuthenticateRequest">
		<wsdl:part name="request" element="msgs:loginAuthenticateRequest"/>
	</wsdl:message>
	<wsdl:message name="loginAuthenticateResponse">
		<wsdl:part name="request" element="msgs:loginAuthenticateResponse"/>
	</wsdl:message>
	<wsdl:message name="VoucherTopUpRequest">
		<wsdl:part name="request" element="msgs:voucherTopUpRequest"/>
	</wsdl:message>
	<wsdl:message name="VoucherTopUpResponse">
		<wsdl:part name="response" element="msgs:voucherTopUpResponse"/>
	</wsdl:message>
	<wsdl:message name="TransferBalanceRequest">
		<wsdl:part name="request" element="msgs:transferBalanceRequest"/>
	</wsdl:message>
	<wsdl:message name="TransferBalanceResponse">
		<wsdl:part name="response" element="msgs:transferBalanceResponse"/>
	</wsdl:message>
	<wsdl:message name="ChangePasswordRequest">
		<wsdl:part name="request" element="msgs:changePasswordRequest"/>
	</wsdl:message>
	<wsdl:message name="ChangePasswordResponse">
		<wsdl:part name="response" element="msgs:changePasswordResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateAccountDetailsRequest">
		<wsdl:part name="request" element="msgs:updateAccountDetailsRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateAccountDetailsResponse">
		<wsdl:part name="response" element="msgs:updateAccountDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="getServicesRequest">
		<wsdl:part name="request" element="msgs:getServicesRequest"/>
	</wsdl:message>
	<wsdl:message name="getServicesResponse">
		<wsdl:part name="response" element="msgs:getServicesResponse"/>
	</wsdl:message>
	<wsdl:message name="forgotPasswordRequest">
		<wsdl:part name="request" element="msgs:forgotPasswordRequest"/>
	</wsdl:message>
	<wsdl:message name="forgotPasswordResponse">
		<wsdl:part name="response" element="msgs:forgotPasswordResponse"/>
	</wsdl:message>
	<wsdl:message name="forgotUserNameRequest">
		<wsdl:part name="request" element="msgs:forgotUserNameRequest"/>
	</wsdl:message>
	<wsdl:message name="forgotUserNameResponse">
		<wsdl:part name="response" element="msgs:forgotUserNameResponse"/>
	</wsdl:message>
	<wsdl:message name="registerAccountRequest">
		<wsdl:part name="request" element="msgs:registerAccountRequest"/>
	</wsdl:message>
	<wsdl:message name="registerAccountResponse">
		<wsdl:part name="response" element="msgs:registerAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="GetDeviceDetailsRequest">
		<wsdl:part name="request" element="msgs:getDeviceDetailsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetDeviceDetailsResponse">
		<wsdl:part name="response" element="msgs:getDeviceDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="getDataPlansRequest">
		<wsdl:part name="request" element="msgs:getDataPlansRequest"/>
	</wsdl:message>
	<wsdl:message name="getDataPlansResponse">
		<wsdl:part name="response" element="msgs:getDataPlansResponse"/>
	</wsdl:message>
	<wsdl:message name="manageMultipleDataPlansRequest">
		<wsdl:part name="request" element="msgs:manageMultipleDataPlansRequest"/>
	</wsdl:message>
	<wsdl:message name="manageMultipleDataPlansResponse">
		<wsdl:part name="response" element="msgs:manageMultipleDataPlansResponse"/>
	</wsdl:message>
	<wsdl:message name="updateServicesRequest">
		<wsdl:part name="request" element="msgs:updateServicesRequest"/>
	</wsdl:message>
	<wsdl:message name="updateServicesResponse">
		<wsdl:part name="response" element="msgs:updateServicesResponse"/>
	</wsdl:message>
	<wsdl:message name="changeDeviceRequest">
		<wsdl:part name="request" element="msgs:changeDeviceRequest"/>
	</wsdl:message>
	<wsdl:message name="changeDeviceResponse">
		<wsdl:part name="response" element="msgs:changeDeviceResponse"/>
	</wsdl:message>
	<wsdl:message name="getDesiredMSISDNsRequest">
		<wsdl:part name="request" element="msgs:getDesiredMSISDNsRequest"/>
	</wsdl:message>
	<wsdl:message name="getDesiredMSISDNsResponse">
		<wsdl:part name="response" element="msgs:getDesiredMSISDNsResponse"/>
	</wsdl:message>
	<wsdl:message name="getAssociatedMSISDNsRequest">
		<wsdl:part name="request" element="msgs:getAssociatedMSISDNsRequest"/>
	</wsdl:message>
	<wsdl:message name="getAssociatedMSISDNsResponse">
		<wsdl:part name="response" element="msgs:getAssociatedMSISDNsResponse"/>
	</wsdl:message>
	<wsdl:message name="getAccountRequest">
		<wsdl:part name="request" element="msgs:getAccountRequest"/>
	</wsdl:message>
	<wsdl:message name="getAccountResponse">
		<wsdl:part name="response" element="msgs:getAccountResponse"/>
	</wsdl:message>
	
	<wsdl:message name="getLanguageRequest">
		<wsdl:part name="request" element="msgs:getLanguageRequest"/>
	</wsdl:message>
	<wsdl:message name="getLanguageResponse">
		<wsdl:part name="response" element="msgs:getLanguageResponse"/>
	</wsdl:message>
	<wsdl:message name="setLanguageRequest">
		<wsdl:part name="request" element="msgs:setLanguageRequest"/>
	</wsdl:message>
	<wsdl:message name="setLanguageResponse">
		<wsdl:part name="response" element="msgs:setLanguageResponse"/>
	</wsdl:message>
	<wsdl:message name="updatePaymentStatusRequest">
		<wsdl:part name="request" element="msgs:updatePaymentStatusRequest"/>
	</wsdl:message>
	<wsdl:message name="updatePaymentStatuResponse">
		<wsdl:part name="response" element="msgs:updatePaymentStatusResponse"/>
	</wsdl:message>
	
	<wsdl:message name="walletPaymentRequest">
		<wsdl:part name="request" element="msgs:walletPaymentRequest"/>
	</wsdl:message>
	<wsdl:message name="walletPaymentResponse">
		<wsdl:part name="response" element="msgs:walletPaymentResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="SelfCareServicesPortType">
		<wsdl:operation name="loginAuthenticate">
			<wsdl:documentation>
				This operation is used to authenticate the credentials given by user.
			</wsdl:documentation>
			<wsdl:input message="tns:loginAuthenticateRequest"/>
			<wsdl:output message="tns:loginAuthenticateResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="getAccount">
			<wsdl:documentation>
				This operation is used to Retrieve account details.
			</wsdl:documentation>
			<wsdl:input message="tns:getAccountRequest"/>
			<wsdl:output message="tns:getAccountResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="voucherTopUp">
			<wsdl:documentation>
				This operation is used to TopUp the balance with voucher and returns the voucher details and resulting balance details.
			</wsdl:documentation>
			<wsdl:input message="tns:VoucherTopUpRequest"/>
			<wsdl:output message="tns:VoucherTopUpResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="transferBalance">
			<wsdl:documentation>
				This operation is used to transfer the balance between the Accounts.
			</wsdl:documentation>
			<wsdl:input message="tns:TransferBalanceRequest"/>
			<wsdl:output message="tns:TransferBalanceResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="changePassword">
			<wsdl:documentation>
				This operation is used to Change Password.
			</wsdl:documentation>
			<wsdl:input message="tns:ChangePasswordRequest"/>
			<wsdl:output message="tns:ChangePasswordResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="updateAccountDetails">
			<wsdl:documentation>			
				This operation is used to Update personal details
			</wsdl:documentation>
			<wsdl:input message="tns:UpdateAccountDetailsRequest"/>
			<wsdl:output message="tns:UpdateAccountDetailsResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="getServices">
			<wsdl:documentation>
				This operation is used to retrieve the registered services for a given account.
			</wsdl:documentation>
			<wsdl:input message="tns:getServicesRequest"/>
			<wsdl:output message="tns:getServicesResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="forgotPassword">
			<wsdl:documentation>
				This operation is used to retrieve the password for a given information.
			</wsdl:documentation>
			<wsdl:input message="tns:forgotPasswordRequest"/>
			<wsdl:output message="tns:forgotPasswordResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="forgotUserName">
			<wsdl:documentation>
				This operation is used to retrieve the username for a given information.
			</wsdl:documentation>
			<wsdl:input message="tns:forgotUserNameRequest"/>
			<wsdl:output message="tns:forgotUserNameResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="registerAccount">
			<wsdl:documentation>
				This operation is used to register an account or additional subscription for already registered account
			</wsdl:documentation>
			<wsdl:input message="tns:registerAccountRequest"/>
			<wsdl:output message="tns:registerAccountResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="changeDevice">
			<wsdl:documentation>
					This operation is used to change either SIM or IMSI or MSISDN, 
					any one of three is expected as input
			</wsdl:documentation>
			<wsdl:input message="tns:changeDeviceRequest"/>
			<wsdl:output message="tns:changeDeviceResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="getAssociatedMSISDNs">
		<wsdl:documentation>
				This operation is used to associated msisdns for the given id value
			</wsdl:documentation>
			<wsdl:input message="tns:getAssociatedMSISDNsRequest"/>
			<wsdl:output message="tns:getAssociatedMSISDNsResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="updateServices">
			<wsdl:documentation>
				This operation is used to update services
			</wsdl:documentation>
			<wsdl:input message="tns:updateServicesRequest"/>
			<wsdl:output message="tns:updateServicesResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		
		<wsdl:operation name="getDesiredMSISDNs">
			<wsdl:documentation>
				This operation is used to get available msisdns(free pool msisnds)
			</wsdl:documentation>
			<wsdl:input message="tns:getDesiredMSISDNsRequest"/>
			<wsdl:output message="tns:getDesiredMSISDNsResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="getDeviceDetails">
			<wsdl:documentation>
				This operation is used to get the device details for the given account
			</wsdl:documentation>
			<wsdl:input message="tns:GetDeviceDetailsRequest"/>
			<wsdl:output message="tns:GetDeviceDetailsResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="getDataPlans">
			<wsdl:documentation>
				This operation is used to DataPlans for the given account
			</wsdl:documentation>
			<wsdl:input message="tns:getDataPlansRequest"/>
			<wsdl:output message="tns:getDataPlansResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="manageMultipleDataPlans">
			<wsdl:documentation>
				This operation is used to manageMultipleDataPlans for the given account
			</wsdl:documentation>
			<wsdl:input message="tns:manageMultipleDataPlansRequest"/>
			<wsdl:output message="tns:manageMultipleDataPlansResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="getLanguage">
			<wsdl:documentation>
				This operation is used to getLanguage for the given account
			</wsdl:documentation>
			<wsdl:input message="tns:getLanguageRequest"/>
			<wsdl:output message="tns:getLanguageResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="setLanguage">
			<wsdl:documentation>
				This operation is used to setLanguage for the given account
			</wsdl:documentation>
			<wsdl:input message="tns:setLanguageRequest"/>
			<wsdl:output message="tns:setLanguageResponse"/>
			<wsdl:fault name="faultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="updatePaymentStatus">
			<wsdl:documentation>This API is to update The payment Status For AdPay GateWay</wsdl:documentation>
			<wsdl:input message="tns:updatePaymentStatusRequest"/>
			<wsdl:output message="tns:updatePaymentStatuResponse"/>
			<wsdl:fault name="FaultData" message="tns:faultData"/>
		</wsdl:operation>
		<wsdl:operation name="walletPayment">
			<wsdl:documentation>This API is to update The payment Status For AdPay GateWay</wsdl:documentation>
			<wsdl:input message="tns:walletPaymentRequest"/>
			<wsdl:output message="tns:walletPaymentResponse"/>
			<wsdl:fault name="FaultData" message="tns:faultData"/>
		</wsdl:operation>
		
	</wsdl:portType>
	<wsdl:binding name="SelfCareServicesBinding" type="tns:SelfCareServicesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="loginAuthenticate">
			<soap:operation soapAction="loginAuthenticate"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="voucherTopUp">
			<soap:operation soapAction="voucherTopUp"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="transferBalance">
			<soap:operation soapAction="transferBalance"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="changePassword">
			<soap:operation soapAction="changePassword"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateAccountDetails">
			<soap:operation soapAction="updateAccountDetails"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getServices">
			<soap:operation soapAction="getServices"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="forgotPassword">
			<soap:operation soapAction="forgotPassword"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="forgotUserName">
			<soap:operation soapAction="forgotUserName"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="registerAccount">
			<soap:operation soapAction="registerAccount"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDeviceDetails">
			<soap:operation soapAction="getDeviceDetails"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDataPlans">
			<soap:operation soapAction="getDataPlans"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="manageMultipleDataPlans">
			<soap:operation soapAction="manageMultipleDataPlans"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateServices">
			<soap:operation soapAction="updateServices"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="changeDevice">
			<soap:operation soapAction="changeDevice"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDesiredMSISDNs">
			<soap:operation soapAction="getDesiredMSISDNs"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAssociatedMSISDNs">
			<soap:operation soapAction="getAssociatedMSISDNs"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAccount">
			<soap:operation soapAction="getAccount"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getLanguage">
			<soap:operation soapAction="getLanguage"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setLanguage">
			<soap:operation soapAction="setLanguage"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="faultData">
				<soap:fault name="faultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updatePaymentStatus">
			<soap:operation soapAction="updatePaymentStatus"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultData">
				<soap:fault name="FaultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="walletPayment">
			<soap:operation soapAction="walletPayment"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="FaultData">
				<soap:fault name="FaultData" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="SelfCareServices">
		<wsdl:port name="SelfCareServicesPort" binding="tns:SelfCareServicesBinding">
			<soap:address location="http://localhost:8080"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
